# DB credentials
DATABSE_URL = 
DATABSE_HOST = 
DATABSE_PASSWORD = 
DATABSE_PORT = 
DATABSE_DB_NAME = 
DATABSE_SCHEMA_NAME = 
DATABSE_MAX_CONNECTIONS = 

# Server settings
SERVER_HOST = 
SERVER_PORT = 