# DB credentials
DATABASE_URL = 
DATABASE_HOST = 
DATABASE_PASSWORD = 
DATABASE_PORT = 
DATABASE_DB_NAME = 
DATABASE_SCHEMA_NAME = 
DATABASE_MAX_CONNECTIONS = 

# Server settings
SERVER_HOST = 
SERVER_PORT = 